<div class="header-top">
    <div class="container">
        <div class="left-list">
            <ul>
                <li><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span><a href="#">info@startelecom.asia</a></li>
                <li><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span><a href="#">(08)3822 3053</a></li>
                <li><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span><a href="#">9:00-18:00 (UTC + 7)</a></li>
            </ul>
        </div>
        <div class="switcher-wrap">
            <span>language</span>
            <ul>
                <li>
                    <a href="#">
                        <i class="flag flag-us"></i>
                        English
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="flag flag-us"></i>
                        Vietnam
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="flag flag-us"></i>
                        Japan
                    </a>
                </li>
            </ul>
            
        </div>
    </div>
</div>